# Root-level
.env
.DS_Store
node_modules/

# Client
client/node_modules/
client/.env
client/dist/
client/.vite/

# Server
server/node_modules/
server/.env

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# IDE files
.vscode/
.idea/
*.swp

# OS files
Thumbs.db
